<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.quelltext.mundraub">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.NewPlantActivity"
            android:label="@string/title_edit_plant"/>
        <activity
            android:name=".activities.PlantListActivity"
            android:label="@string/title_my_plants"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PlantDetailActivity"
            android:label="@string/title_plant_detail"
            android:parentActivityName=".activities.PlantListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.quelltext.mundraub.activities.PlantListActivity" />
        </activity>
        <activity
            android:name=".activities.ChoosePlantType"
            android:label="@string/title_activity_choose_plant_type"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activities.map.ChooseMapPosition"
            android:label="@string/title_choose_map_position"/>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_about"/>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_settings"
            />
        <activity
            android:name=".activities.map.ShowPlantsActivity"
            android:label="@string/title_activity_show_plants"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CodexActivity"
            android:label="@string/title_codex" />
    </application>

</manifest>